:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}

body {
  background-color: var(--body-bg-color);
  color: var(--text-color);
  font-family: "Merriweather Sans";
}

/* display */
main {
  display: grid;
  grid-template-areas:
    "side content content"
    "foot foot foot";
  grid-template-rows: auto;
}

aside {
  grid-area: side;
}

article {
  grid-area: content;
}

footer {
  grid-area: foot;
}

/* side content */
aside div {
  background-color: var(--bg-cards);
  width: 348px;
  border-radius: 20px;
  margin: 0 60px 30px 40px;

  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

/* card do perfil */
.profile {
  height: 292px;
  text-align: center;
  margin-top: 40px;
}

.profile img {
  margin-top: 32px;
  border: 2px solid #0f0;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile h3 {
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 10px;
}

.profile p {
  font-size: 13px;
  font-weight: 300;
}

/* card dos links */
.links {
  height: 348px;
  text-align: left;
}

.links a {
  display: flex;
  margin-left: 40px;
  margin-top: 20px;

  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--text-color);
}

.links img {
  width: 24px;
  height: 24px;
}

.links #map {
  padding-top: 34px;
}

/* card das tecnologias */
.technologies {
  height: 208px;
  text-align: left;
}

.technologies h3 {
  display: flex;
  margin-left: 20px;
  padding-top: 30px;

  font-size: 20px;
  font-weight: 700;
}

.technologies p {
  width: 86px;
  height: 24px;
  background-color: var(--bg-techs);
  border-radius: 30px;
  text-align: center;

  color: black;

  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  justify-content: center;

  display: inline-flex;
  align-items: center;
  margin-left: 15px;
  margin-top: 0;
  margin-bottom: 15px;
}

.technologies section {
  margin-left: 15px;
}

/* card das experiência */
.experiences {
  height: 349px;
  text-align: left;
}

.experiences h3 {
  display: flex;
  margin-left: 20px;
  padding-top: 30px;

  margin-top: 0;

  font-size: 20px;
  font-weight: 700;
}

.experiences ul {
  margin-top: 20px;
  margin-left: 20px;

  width: 175px;
  height: 243px;
}

.experiences ul li {
  font-size: 14px;
  font-weight: 700;
}

.experiences ul span {
  font-size: 12px;
  font-weight: 300;
}

.experiences ul p {
  font-size: 12px;
  font-weight: 400;

  margin-top: 2px;
}

/* card da educação */
.education {
  height: 352px;
  text-align: left;
}

.education h3 {
  display: flex;
  margin-left: 20px;
  padding-top: 30px;

  margin-top: 0;

  font-size: 20px;
  font-weight: 700;
}

.education ul {
  margin-top: 20px;
  margin-left: 20px;

  width: 175px;
  height: 243px;
}

.education ul li {
  font-size: 14px;
  font-weight: 700;
}

.education ul span {
  font-size: 12px;
  font-weight: 300;
}

.education ul p {
  font-size: 12px;
  font-weight: 400;

  margin-top: 2px;
}