:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}

body {
  background-color: var(--body-bg-color);
  color: var(--text-color);
  font-family: "Merriweather Sans";
}

/* display */
main {
  display: grid;
  grid-template-areas:
    "side content content"
    "foot foot foot";
  grid-template-rows: auto;
}

aside {
  grid-area: side;
}

article {
  grid-area: content;
}

footer {
  grid-area: foot;
}

/* side content */
aside div {
  background-color: var(--bg-cards);
  width: 348px;
  border-radius: 20px;
  margin: 40px 60px 30px 40px;
}

/* card do perfil */
.profile {
  height: 292px;
  text-align: center;
}

.profile img {
  margin-top: 32px;
  border: 2px solid #0f0;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile h3 {
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 10px;
}

.profile p {
  font-size: 13px;
  font-weight: 300;
}

/* card dos links */
.links {
  height: 348px;
  text-align: left;
}

.links a {
  display: flex;
  margin-left: 40px;
  margin-top: 20px;

  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--text-color);
}

.links img {
  width: 24px;
  height: 24px;
}

.links #map {
  padding-top: 34px;
}
